<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.alvlopez.marce_calidad">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Barcode_Activity" />
        <activity android:name=".Selection_Activity" />
        <activity android:name=".MarquillaCode_Activity" />
        <activity android:name=".BeforeActivity" />
        <activity android:name=".Main_Marce_Activity" />
        <activity
            android:name=".Defectos_Activity"
            android:screenOrientation="landscape" />
        <activity android:name=".Medidas_Activity" />
        <activity android:name=".LogActivity"></activity>
    </application>

</manifest>